.container-learning {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;  
    animation-name:animarservice ;
    animation-duration: 2s;
    margin: 25px 0px 25px 0px;
}
/* Add Animation */
@keyframes animarservice {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


.container-learning-phares {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; 
    justify-content: center;   
    align-items: center;
}

@media (max-width: 799px) {
    .container-learning {
        padding-top: 20px;
    }
    .container-learning-phares {
        flex-direction: column;
        gap: 20px;
    }

}