.container-learning {
    
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 25px 0px 25px 0px;
    overflow: hidden;
}

.container-learning-phares {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;    
}