.container-learning {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0px;
    gap: 25px;  
    animation-name:animarservice ;
    animation-duration: 2s; 
}
/* Add Animation */
@keyframes animarservice {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .container-learning  h1 {
    line-height: 2.5rem;
    font-size: 35px;
    text-align: center;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  }
.container-learning p {
    line-height: 2.5rem;
    font-size: 20px;

    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: 10;
}

.container-learning-phares {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; 
    justify-content: center;   
    align-items: center;
    
}
.container-learning-phares-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    justify-content: center;   
    align-items: center;
    gap: 10px;
}

.container-learning-phares-column button {
    width: 250px;
    height: 50px;
    background-color: #9B59B6;
    color: #FFFFFF; 
    border: none;
    border-radius: 12px; 
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}

.container-home-buttons .componentButton {
    cursor: pointer;
}
.container-home-buttons .componentButton:hover {
    transform: scale(1.1);
}

@media (max-width: 799px) {
    .container-learning {
        padding-top: 20px;
    }
    .container-learning-phares {
        flex-direction: column;
        gap: 20px;
    }

}