.container-view-phrases {
    width: 100%;
    min-height: 100px;
    flex-grow: 1; 
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color:#F1F3F4 ;
    
}
.card-information-phrases {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding: 0px;
}

.card-header {
    min-height: 100px;
    width: 100%;
    background-color: #F5EEF8;
    color: #6C3483;  
    padding: 0px;
    position: relative;
}

.card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-content figure {
    height: auto;
    width: auto;
}

.card-information-phrases img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card-footer {
    height: 100%;
    width: auto;
    background-color: #F8F4F9;
    padding: 16px;
    border-radius: 30px;
}

.card-footer p {
    margin: 0;
    color: #4A235A;
    font-size: 1.4rem;
}

.wrapper-audio {
    margin: 0px;
    padding: 0px;
    height: 100px;
    display: inline-block;
    width: auto;
}

.card-audio {
    width: 100%;
    height: 100%;
    border-radius: 0;  /* Elimina el borde redondeado */
    overflow: hidden;
}
.card-audio::-webkit-media-controls {
    border-radius: 0;  /* Elimina el borde redondeado en navegadores Webkit */
  }
  
  .card-audio::-webkit-media-controls-panel {
    border-radius: 0;  /* Aplica el estilo también a los controles del reproductor */
  }

.front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta el lado no visible del elemento */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    text-align: center;
    word-wrap: break-word; /* Romper palabras largas */
    overflow-wrap: break-word; /* Asegura el comportamiento en todos los navegadores */
    white-space: normal; /* Permite que el texto fluya a la siguiente línea */
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg); 
  }

  .card-header:hover .front {
    transform: rotateY(180deg); 
  }

  .card-header:hover .back {
    transform: rotateY(0deg); 
  }


  @media (max-width: 799px) {

    .card-information-phrases {
        grid-template-columns: repeat(1, 1fr);
    }


}