#container-view-phrases {
    width: 100%;
    flex-grow: 1; 
    overflow: auto;  
}
#container-view-phrases div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-view-phrases div p {
    margin: 0px 0px 25px 25px;
}