/******************************/
/*Container Main of Dashboard*/
/******************************/
.container-user-learning {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;  
}

.container-user-aside{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin:0px;
    padding: 0px;
}

.container-user-learning-main {
    width: 100%;
    max-width: 800px;
    height: 100%; 
    background-color: #F0F0F0;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 130px 1fr;
}


/******************************/
/*Container Aside of Dashboard*/
/******************************/

.container-user-aside-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px;
}


.container-user-aside-header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.line-separator {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.2;
}

/*******************************/
/*******************************/
/***********Aside Main*/
/*******************************/
/*******************************/

.container-user-aside-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 40px; 
}
.container-user-aside-main-service {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*******************************/
/*******************************/
/***********Aside Main*/
/*******************************/
/*******************************/


/*******************************/
/*******************************/
/*Footer*/
.container-user-aside-footer {
   margin-bottom: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 0px;
}
/*Footer*/
/*******************************/
/*******************************/


/*******************************/
/***********Main Container*/
/*******************************/
/*******************************/

.container-user-learning-header {
    padding-top: 25px; 
}


.container-user-learning-header h3 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold; /* Equivale a font-bold */
}

.container-user-learning-header  p {
    font-size: 20px;
    color: #718096;
    margin-top: 10px; 
    width: 100%;
}




.container-user-learning-section {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.container-user-learning-section #container-phrases-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    margin-top: 0px;
    transition: all 0.3s ease;
}

.container-user-learning-section .container-user-learning-main-all {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-user-learning-section .container-user-learning-main-all .container-view-phrases {
    margin: 0px;
}
.container-user-learning-section .container-user-learning-main-all button {
    width: 250px;
    height: 50px;
    background-color: #9B59B6;
    color: #FFFFFF; 
    border: none;
    border-radius: 12px; 
    padding: 10px 20px;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}

.container-user-learning .label_hamburger {
    display: none;
    position: fixed;
    z-index: 1000;
    cursor: pointer; 
    top: 50%; 
}

.container-user-learning .label_hamburger-left {
    display: none;
    position: fixed;
    z-index: 1000;
    cursor: pointer; 
    top: 50%; 
    left: 280px; 
    z-index: 10000;
}



#menu_hamburguesa_right , #menu_hamburguesa_left {
    display: none;
}

.container-user-learning-main-all-header {
    width: 100%;
}

#button-play {
    width: 125px;
    height: 50px;
    background-color: green;
    color: #FFFFFF; 
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}
#button-play:hover {
    background-color: #FFFFFF;
    color: black;
}

/*******************************/
/***********Main Container*/
/*******************************/
/*******************************/

@media (max-width: 799px) {
    
    .container-user-learning {
        display: flex;
        width: 100%;
        
    }
    .container-user-aside {
        display: none;
        position: fixed;
        flex-direction: column;
        width: 70%;
        height: 100%;
        z-index: 1000;

    }
    .container-user-learning .label_hamburger  {
        display: block;
    }
    

    .container-user-learning-main {
        display: flex;
        padding: 0px;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        align-items: center;
        overflow: auto;
    }
    .container-user-learning-main #container-phrases-list {
        width: 100%;
        height: auto;
        display: flex;
    }
    .container-user-learning-main .container-user-learning-main-all .container-view-phrases {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container-user-learning .label_hamburger-left  {
        left: 65%; 
    }

}
