.mainHeader {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #0D3CE9; 
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;    
    padding: 0px;
    font-weight: bold;
    color: #1A1A1A;
}

.navHeader .listAccess  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: medium;
    text-decoration: none;
}

.navHeader .listAccess a {
    text-decoration: none;
    color: white;
}
.navHeader img {
    margin-bottom: 16px;
}